
//            $Customs                \\
// ___________________________________//
$app: (
  bg: #fff,
  bg-navbar: #1b1b29,
  bg-subscribe: #5E6977,
  bg-footer: #FAF7E7,
  text-color: #5E6977,
  text-heading-color: #43484D,
) !default;


//            $States                 \\
// ___________________________________//
$states: (
  default  : map-get($app, text-color),
  disabled : #b3b3b3,
  error    : #fe5d79,
  focus    : #fefefe,
  hover    : #fff,
  info     : #0087c9,
  success  : #00bb8e,
  warning  : #fb9528,
) !default;


//            $Inputs                 \\
// ___________________________________//
$inputs: (
  default      : map-get($states, default),
  focus        : map-get($states, focus),
  has-no-error : map-get($states, success),
  has-error    : map-get($states, error),
  has-warning  : map-get($states, warning),
  is-disabled  : map-get($states, disabled),
  is-readonly  : map-get($states, disabled),
) !default;


//            $Links                  \\
// ___________________________________//
$icons: (
  default  : map-get($states, default),
  disabled : map-get($states, disabled),
  hover    : map-get($states, hover),
) !default;


//            $Links                  \\
// ___________________________________//
$links: (
  default : map-get($states, default),
  hover   : map-get($states, hover),
  focus   : map-get($states, focus),
  visited : map-get($states, visited)
) !default;


//            $TERMINAL               \\
// ___________________________________//
$git-color: rgb(249, 87, 30);

$terminal: (
  bg      : #4a579e,
  color   : $white,
  comment : #d4d4d4,
  keyword : #dca1ed,
  value   : #48ef4a
) !default;


//            $SOCIAL                 \\
// ___________________________________//
$social : (
  facebook    : #3b5999,
  twitter     : #55acee,
  linkedin    : #0077b5,
  google-plus : #dd4b39,
  pinterest   : #bd081c,
  instagram   : #e4405f,
  dribbble    : #ea4c89,
  youtube     : #cd201f,
  tumblr      : #34465d,
  wordpress   : #21759b,
  slack       : #3aaf85,
  skype       : #00aff0,
  whatsapp    : #25d366,
  dropbox     : #007ee5
) !default;
