//            $Notification           \\
// ___________________________________//


$blue    : #0087c9;
$green   : #00bb8e;
$yellow  : #fbca28;
$orange  : #fb9528;
$red     : #fe5d79;
$red-dark: #a94442;
$white   : #fff;
$black   : #000;
$grey-l  : #4d4d4d;
$grey-m  : #b3b3b3;
$grey-s  : #f2f2f2;
$grey-xs : #f7f7f7;



$states: (
  info    : $blue,
  success : $green,
  warning : $orange,
  error   : $red
) !default;


$links: (
  default : $grey-s,
  hover   : $yellow,
  focus   : $yellow,
  visited : $yellow
) !default;



$bg-menu    : #42474e;

$icons-color-default       : #b3b3b3;
$icons-color-default-hover : #4d4d4d;

$text-color: rgb(20, 20, 20);

$focused: #008080;
$error--focused   : $red-dark;
$color--read-only : #d2d2d2;



// TEXT EDITOR & TERMINAL

$git-color: rgb(249, 87, 30);


$terminal: (
  bg      : #4a579e,
  color   : $white,
  comment : $grey-m,
  keyword : #dca1ed,
  value   : #48ef4a
) !default;


// SOCIAL
$social : (
  facebook    : #3b5999,
  twitter     : #55acee,
  linkedin    : #0077b5,
  google-plus : #dd4b39,
  pinterest   : #bd081c,
  instagram   : #e4405f,
  dribbble    : #ea4c89,
  youtube     : #cd201f,
  tumblr      : #34465d,
  wordpress   : #21759b,
  slack       : #3aaf85,
  skype       : #00aff0,
  whatsapp    : #25d366,
  dropbox     : #007ee5
) !default;
