// ======================= \\
//      $CONFIG
// ======================= //
@charset 'UTF-8';

//           $Breakpoints             \\
// ___________________________________//
$mq-breakpoints: (
  mobile       : 320px,
  iphone6      : 375px,
  phablet      : 480px,
  nexus7       : 603px,
  tablet       : 768px,
  desktop-xs   : 992px,
  desktop-md   : 1200px,
  desktop-lg   : 1440px,
  large-screen : 1900px,
  imac-fullscreen: 2400px
);


//           $Susy                    \\
// ___________________________________//
$susy: (
  'columns': susy-repeat(12),
  'gutters': .25,
  'spread': 'wide',
  'container-spread': 'wide',
);


//             $Fonts                 \\
// ___________________________________//

// CDN Imports (if it's possible)
// Heading Font import
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');


$fonts-path : 'assets/';    // We don't need to add 'fonts/' to the string because Rails is clever enough
$fontName   : 'Gotham';
$fontFolder : $fontName;


//*Base values
$base__line                 : 24px;
$base__font-size            : 16px;
$base__font-size--heading   : 20px;
$base__line-height          : ($base__line/$base__font-size);
$base__line-height--heading : ($base__line/$base__font-size--heading);
$base__font-weight--heading : bold;



//           $Font Families              \\
// ______________________________________//
$font-family: (
  primary   : ($fontName, sans-serif),
  heading   : ('Permanent Marker', cursive),
  code      : ('Courier New', monospace)
) !default;


//           $Navbar                     \\
// ______________________________________//
$navbar: (
  logo-height--mobile: 55px,
  logo-width--desktop: 90px,
  logo-height--desktop--compacted: 105px,
  height--mobile: 50px,
  height--mobile--compacted: 50px,
  height--desktop: 74px,
  height--desktop--compacted: 85px,
  width: 100%
) !default;


//           $Easing                     \\
// ______________________________________//
$easePrinciple: cubic-bezier(0.25, 0.1, 0.25, 1);


//           $Menu Burger                \\
// ______________________________________//
$burger: (
  padding       : 10px,
  layer-width   : 32px,
  layer-height  : 2px,
  layer-spacing : 6px,
  layer-color   : $white,
  layer-border-radius : 4px,
  hover-opacity : .7,
  hover-transition-duration        : 150ms,
  hover-transition-timing-function : $easePrinciple
) !default;
// To use CSS filters as the hover effect instead of opacity,
// set $burger-hover-use-filter as true and
// change the value of $burger-hover-filter accordingly.
$burger-hover-use-filter: false !default;
$burger-hover-filter    : opacity(50%) !default;


//           $Inputs                     \\
// ______________________________________//
