// ======================= \\
//      $CONFIG
// ======================= //

@charset 'UTF-8';

//           $Breakpoints             \\
// ___________________________________//

//*Start with the small screen first and expand until it looks like shit.
//*Then is the time to insert a breakpoint!

$mq-breakpoints: (
  mobile       : 320px,
  phablet      : 480px,
  tablet       : 768px,
  desktop-xs   : 992px,
  desktop-md   : 1200px,
  desktop-lg   : 1440px,
  large-screen : 1900px
);


//           $Susy                    \\
// ___________________________________//
$susy: (
  'columns': susy-repeat(12),
  'gutters': .25,
  'spread': 'wide',
  'container-spread': 'wide',
);



//             $Fonts                 \\
// ___________________________________//

$google-font__url: 'http://fonts.googleapis.com/css?family=Maven+Pro';
@import url($google-font__url);

// Assign the fonts for our framework
$google-font__name   : 'Maven Pro' !default;

$font--code          : "Courier New", monospace;

$font--primary       : $google-font__name, sans-serif;
$font--secondary     : $google-font__name, sans-serif;
$font--heading       : $font--primary;
$base__font          : $font--primary;
$base__font--heading : $font--primary;



//*Base values
$base__line                 : 24px;
$base__font-size            : 16px;
$base__font-size--heading   : 20px;
$base__line-height          : ($base__line/$base__font-size);
$base__line-height--heading : ($base__line/$base__font-size--heading);
$base__font-weight--heading : bold;



//           $Font Families              \\
// ______________________________________//
$font-family: (
  primary   : '#{$google-font__name}, sans-serif',
  secondary : '#{$google-font__name}, sans-serif',
  heading   : '#{$google-font__name}, sans-serif',
  code      : '"Courier New", monospace',
) !default;



//           $Navbar                     \\
// ______________________________________//
$navbar: (
  height: 65px,
  height-compacted: 45px,
  width : 100%
) !default;



//           $Menu Burger                \\
// ______________________________________//
$burger: (
  padding       : 15px,
  layer-width   : 35px,
  layer-height  : 2px,
  layer-spacing : 6px,
  layer-color   : #fff,
  layer-border-radius : 4px,
  hover-opacity : .7,
  hover-transition-duration        : 150ms,
  hover-transition-timing-function : linear
) !default;

// To use CSS filters as the hover effect instead of opacity,
// set $burger-hover-use-filter as true and
// change the value of $burger-hover-filter accordingly.
$burger-hover-use-filter: false !default;
$burger-hover-filter    : opacity(50%) !default;



//*Inputs
$input-border-bottom-size: 2px
