
.navbar {
  background-color: gold;
  color: black;
  height: 80px;
  position: fixed;
  transition: all 300ms ease-out;
  top: 0;
  width: 100%;
  z-index: 50;

  &.navbar--top {
    background-color: red;
    height: 50px;
  }

  li {
    display: inline-block;
  }
}
