// $bg: '../assets/img/bg.jpg';

body {
//  background          : url($bg);
  background-position : center;
  background-size     : cover;
  color               : $text-color;
  background-color: royalBlue;
}

[role='main'] {
  border: 2px solid #f00;
  min-height: 600px;
}

html, body {
  min-height: 100%;
}

.page-wrapper {
  position: relative;
  min-height: 100vh;
}


[scroller='true'] {
  #scrollbar-wrapper {
    height: 100vh;
    width: 100vw;
  }
}
