//  $bg: '../assets/img/bg.jpg';
//  background          : url($bg);

body {
  background-color : map-get($app, bg);
  color            : map-get($app, text-color);
}

html,
body {
  min-height: 100%;
}

.page-wrapper {
  min-height: 100vh;
  position: relative;
}


#scrollbar-wrapper {
  // transition: all 300ms ease-out;
  ~ .test-center {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    height:2px;
    background: black;
    z-index: 9000;
  }
}


[data-scroller='true'] {
  #scrollbar-wrapper {
    height: 100vh;
    width: 100vw;
  }
}


[data-scroller='true'],
[data-scroller='false'] {
  #scrollbar-wrapper {
    margin-top: 0;

    &.scroll-locked {
      pointer-events: none;
      user-select: none;
    }
  }
}


[data-scroller='false'] {
  #scrollbar-wrapper {
    &.scroll-locked {
      height: 100vh; // Forces to go top;
      overflow: hidden;
    }
  }
}

.section {
  padding: 2em 1em;
}
