
body {
  transition: background-color 300ms $easePrinciple;
  will-change: background-color;

  .scrollbar-track {
    background: transparent;
    background-color: transparent;
    z-index: 6000;

    &.scrollbar-track-y {
      width: 11px;
      margin: 0 auto;
      text-align: center;

      .scrollbar-thumb.scrollbar-thumb-y {
        width: 7px;
        // background: map-get($app, orange);
        opacity: .8;
      }
    }
  }
}

.fixed-elements-wrapper,
#scrollbar-wrapper {
  position: static;
}

.fixed-elements-wrapper {
    position: static;
    z-index: 1;
//   position: fixed;
//   width: 100%;
//   height: 0;
//   z-index: 1;
//
//   .navbar {
//     position: absolute !important;
//     z-index: 5000
//   }
//
}

.page-overflow-y-container {
  height: 100%;
  overflow-y: hidden;
}

.page-overflow-x-container {
  overflow-x: hidden;
  width: 100vw;
}


img,
.separator {
  user-select: none;
  pointer-events: none;
}

.page-wrapper {
  min-height: 100vh;
  position  : relative;
  overflow  : hidden;
}


.pjax-content {
  opacity: 0;
  overflow: hidden;
  transition: opacity 300ms $easePrinciple;
  will-change: opacity;

  &.hidden,
  &.fade-out {
    opacity: 0;
  }

  &.visible,
  &.fade-in {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
  }

  .hide-until-tablet {
    display: none;

    @include mq($from: tablet) {
      display: block;
    }
  }

  .visible-until-tablet {
    display: block;

    @include mq($from: tablet) {
      display: none;
    }
  }
}


//           $Main Scroller              \\
// ______________________________________//
[data-scroller='true'] {
  overflow: hidden;

  #scrollbar-wrapper {
    height: 100vh;
    width : 100%;
  }
}

[data-scroller='true'],
[data-scroller='false'] {
  #scrollbar-wrapper {
    margin-top: 0;

    &.scroll-locked {
      pointer-events: none;
      user-select: none;
    }
  }
}

[data-scroller='false'] {
  #scrollbar-wrapper {
    &.scroll-locked {
      height: 100vh;     // Forces to go top;
      overflow: hidden;
    }
  }
}


//           $Sections                   \\
// ______________________________________//
.section {
  position: relative;

  .title {
    @include x-rem(font-size, 16px);
  }

  p,
  .description {
  }
}
