
[role='banner'] {
  margin: auto;
  position: relative;
  width: 100vw;

  .title-wrapper {
    background-color: rgba($black, .9);
    left: 50%;
    max-width: 60%;
    padding: .5em 1em;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);

    .title,
    .subtitle {
      color: map-get($app, text-light);
    }
  }
}
