// ===================================== \\
//      $FUNCTIONS
// ===================================== //

@import "_functions/units";
 
  


//*Set opacity of any color
@function set-opacity($color) {
  $lightness: lightness($color); // This return a porcentage
  $lightness-to-number: percent-to-number($lightness); //Now i have a decimal value
  $opacity-value: transparentize($color, $lightness-to-number);
  @return $opacity-value;
}
  // Example of use
  // SCSS Functions
  //     .mydiv {
  //        background-color: set-opacity(#ccc);
  //     }
  // CSS Code
  //    .mydiv {
  //        background-color: rgba(204, 204, 204, 0.2);
  //     }






//*Call the color palette modifiers
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}

  // Example of use
  // SCSS Functions
  //    header {
  //       background-color: palette(red, x-dark)
  //    }