// ===================================== \\
//      $PLACEHOLDERS
// ===================================== //

// Placeholder selectors have the additional property that they 
// will not show up in the generated CSS, only the selectors that extend them
// will be included in the output.

%text-overflow {
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
}

%text-center {
	text-align: center;
}

// %center {
// 	display: block;
// 	margin-left: auto;
// 	margin-right: auto;
// }

// The ghost, nudged to maintain perfect centering
%vcenter {
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

// Escondemos el texto solo VISUALMENTE
%hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

// Escondemos el texto de VISUALMENTE y SCREENREADERS
%hidden {
	display : none !important;
	visibility : hidden;
}

// Escondemos pero mantenemos layout.
%invisible {
	visibility : hidden;
}


// Clear floats.
%clearfix {
	&:after{
        content:"";
        display:table;
        clear:both;
    }
}


// User-select(VALUE) (all, element, none, text)

%select-none {
	-webkit-user-select : none;
	-moz-user-select 		: none;
	-ms-user-select 		: none;
	user-select 				: none;
}



//Rounded border

%rounded {
	border-radius : 8px;
}