
.navbar {
  background-color: map-get($app, bg-navbar);
  height: map-get($navbar, height-compacted);
  position: fixed;
  top: 0;
  transition: all 300ms ease-out;
  width: 100%;
  z-index: 50;

  ul {
    display: inline-block;

    &:first-child {
      width: 85%;
    }

    &:last-child {
      width: 15%;
    }

    li {
      display: inline-block;
      height: 100%;
    }
  }

  .navbar-list {
    height: map-get($navbar, height-compacted);

    li {
      padding: 0 .5em;
    }
  }

  .navbar-sublist {
    text-align: right;
  }

  a {
    color: map-get($app, text-light);
    display: inline-block;
    height : 100%;
    line-height: map-get($navbar, height-compacted);
    padding: 0 1em;
    text-align: center;
    vertical-align: middle;
  }

  &.navbar--top {
    height: map-get($navbar, height);

    .navbar-list {
      height: map-get($navbar, height);
    }

    a {
      line-height: map-get($navbar, height);
    }
  }
}

.testing-fullcentered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  // background-color: red;
  opacity: 0;
}
