




/*------------------------------------*\
    $GRID
\*------------------------------------*/

  .grid {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

  }

  [class^="item-"], [class*=" item-"], [class^="xs-item-"], [class*=" xs-item-"] {
    flex-shrink: 0;
    flex-grow: 1;
    margin: $gap / 2;
    padding: 5px;
    // ES: Los dos siguientes solo son para propósitos de desarrollo, elimínalos o bórralos después.
    //This 2 following only for development purposes, delete or comment later.
    // background-color: pink;
    // min-height: 100px;  // remove, it's only for presentation purposes.
  }


  @for $i from 1 to ($grid-size + 1) {
      // Total size (We would need to substract the margin to avoid wrapping);
    $width : 100 / $grid-size * $i * 1%;

    .item-#{$i} {
      flex-basis: 100%;
      @include media-query-bp($bp3) {
        flex:0 0 calc(#{$width} - #{$gap});
      }
    }

    .xs-item-#{$i} {
      flex:0 0 calc(#{$width} - #{$gap})
    }

    .xs-item-#{$i}.no-gap {
      flex:0 0 calc(#{$width});
      margin: 0;
    }

  }