




/*------------------------------------*\
    $NAV
\*------------------------------------*/


nav[role=navigation] {
	background-color: $basecolor;
	width: 100%;
	position: fixed;
	height: 3em;
	top: 0;
	border-bottom: .3em solid $bcdark;
	z-index: 10
}

.nav--top_list{
	display: block;
	margin-bottom: 0;
	padding: 0;
	width: 70%;
	position: absolute;
	top: 3em;
	left: -70%;
	background-color: $basecolor;
}



.nav--top_list li {
	padding: 2%;
	text-align: center;
	border-top: .1em solid $bclight;
	border-bottom: .2em solid $bcdark;
	border-right: .1em solid $bcdark;
	&:hover {
		background-color: $bclighter;
		.link--top {
			color: $basecolor;
			font-weight: bold;
			text-decoration: none;
		}
	}
}

.link--top {
	display: block;
	width: 100%;
	text-decoration: none;
}

