




/*------------------------------------*\
    $NAV
\*------------------------------------*/


.nav--bar {
	width: 100%;
	height: auto;
	background-color: $basecolor;
}

.nav--bar__container {
	display: table;
	border-collapse: separate;
  	//border-spacing: 50px;
	width: 100%;
}

.nav--bar__list {
	display: table-cell;
	text-align: left;   //Centra las listas: Left center right
	padding-left: 10%;
}

.nav--bar__list li, .language-list li {

	display: inline-block;
	list-style-type: none;

	padding: 1% 2%;
}

.nav--bar a {
	color: $white;
	&:hover {
		color: $lightergrey;
		text-decoration: none;
	}
	&:active, &:focus {
		color: $bcdarker;
	}
}

ul.language-list {
	//position: absolute;
	display: table-cell;
	right: 0;
	padding-right: 4%;
	text-align: right;
}

ul.language-list {
	margin-bottom: 0;
}