








// SOCIAL ICONS 


// Example: 

// <ul class="social_list a--left">
//       <li>
//         <a class="youriconclass social_link" href="#">    
//           <span class="social_text spawn-from-left">Facebookkk</span>
//         </a> 
//       </li>
      
//       <li>
//         <a class="youriconclass social_link" href="#">
//           <span class="spawn-from-left">Twitter</span>
//         </a>
//       </li>
//       <li>
//         <a class="youriconclass social_link" href="#">
//           <span class="spawn-from-right">Dribbble</span>
//         </a>
//       </li>
      

//       <li>
//         <a class="fa fa-google-plus social_link" href="#">
//         <span class="spawn-from-right">Google Plus</span>
//         </a> 
//       </li>  
//     </ul>

// Si no teneis una fuente de iconos podéis usar el CDN de font-awesome en el head del html
// Y usar las clases "fa fa-socialname" (example in the last li)
// <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
// La UL puede estar izquierda o derecha, para ello incluir la clase a--left o a--right en la ul


.a--left {
  left: 0;
}

.a--right {
  right: 0;
}

.social_list .social_link {
  display: block;
  height: 40px;
  width: 40px;
  background: $basecolor;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  transition: background .5s ease .300ms;
  font: normal normal normal 16px/20px 'FontAwesome';
}

li:first-child  .social_link:hover { background: #3b5998 }
li:nth-child(2) .social_link:hover { background: #00acee }
li:nth-child(3) .social_link:hover { background: #ea4c89 }
li:nth-child(4) .social_link:hover { background: #dd4b39 }

//Desactivar para square list
// Chaflán para ul a la izquierda
.a--left li:first-child  .social_link { border-radius: 0 1em 0 0 }
.a--left li:last-child   .social_link { border-radius: 0 0 1em 0 }
//Chaflán para ul a la derecha
.a--right li:first-child  .social_link { border-radius: 1em 0 0 0 }
.a--right li:last-child   .social_link { border-radius: 0 0 0 1em }

.social_link span {
  margin: -1.7em 3em;
  padding: .5em;
  width: 7em;
  text-align: center;
  background: $basecolor;
  color: $white;
  visibility: hidden;
  opacity: 0;
  transform-origin: 0;
  transition: all .5s ease .300ms
}


.a--left .social_link span {
  float: left;
  border-radius: 0 .4em .4em 0;
  transform: rotateY(45deg);
}

.a--right .social_link span {
  float: right;
  border-radius: .4em 0 0 .4em;
  transform: rotateY(-45deg);
}


.social_link span:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  border: 1.13em solid transparent;
}


.a--left .social_link span:after {
  left: -2.2em;
  border-right: 1.13em solid $basecolor;
}

.a--right .social_link span:after {
  right: -2.2em;
  border-left: 1.13em solid $basecolor;
}


.social_link:hover span {
  visibility: visible;
  opacity: 1;
  transform: rotateY(0)
}

.social_list {
  padding: 0;
  position: fixed;
  top: 30%;.
  perspective: 1000px;
}