




/*------------------------------------*\
    $SITE
\*------------------------------------*/


@-webkit-viewport {
	width : device-width;
}

@-moz-viewport {
	width : device-width;
}

@-ms-viewport {
	width : device-width;
}

@-o-viewport {
	width : device-width;
}

@viewport {
	width : device-width;
}

html {
	background : $background;
	font-size : 100%;
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : transparent;
}

body {
	width : 100%;
	font-family : $basefont;
	line-height : $baselineheight;
	color : $textcolor;
}


// 				NOW START YOUR SITE STYLE HERE, 
// I GIVE YOU THE TOOLS, BUT THE DESIGN IT'S UP TO YOU


// ===== $HEADER ===== \\
@import "organisms/header.scss";

// ===== $FOOTER ===== \\
@import "organisms/footer.scss";
