


/*------------------------------------*\
    $TIPOGRAPHY
\*------------------------------------*/




//            $HEADINGS               \\
// ___________________________________//

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight    : 400;
  font-family    : $font-heading;
  text-rendering : optimizelegibility;
}

@each $heading-type, $font-size in  (h1, 32)
                                    (h2, 24)
                                    (h3, 20)
                                    (h4, 16)
                                    (h5, 14)
                                    (h6, 12) {
  #{$heading-type}, .heading-#{$heading-type} {

    $line-height: ($base__line/ $font-size);
    margin-bottom: strip-unit($line-height) * 1em;
    @include x-rem(font-size, $font-size);

    @if $font-size > $base__line {

      $line-height-x2: $line-height * 2;
      line-height: $base__line * 2;
      line-height: strip-unit($line-height-x2) * 1em;

    }
    @else {

      line-height: $base__line;
      line-height: strip-unit($line-height) * 1em;

    }
  }
}


//       $PARAGRAPH and $LIST         \\
// ___________________________________//


p {
  @include x-rem(font-size, $base__font-size);
  line-height   : $base__line;
  line-height   : $base__line-height;
  margin-bottom : $base__line-height;
  font-weight   : 300;
}


a, p {
  color: $text-color;
}


small {
	@include x-rem(font-size, 12);
}



ol,
ul,
dl,
dd,
address {
	margin-bottom : $base__line-height;
}

dt {
	font-weight : bold;
}


//            $BLOCKQUOTE             \\
// ___________________________________//

//*Use always a paragraph inside the blockquote tags

blockquote  {
  margin : 0 0 $base__line-height*1px 0;
  padding-left : em(15px);
  padding-right: em(15px);

  border-left : 10px solid $text-color;
  font-family : $font--secondary;
  font-style : normal;
  p {
    @include x-rem(font-size, 18);
    color:$grey-m;
    font-style: italic;
  }
  .quote-info {
    text-align: right;
  }
}

q {
  quotes : none;
  font-style: italic;
}

blockquote p::before,
blockquote p::after,
q:before,
q:after {
  content : "";
}

cite {
  font-style : normal;
}



//            $TEXT-LEVEL             \\
// ___________________________________//

hr {
  clear : both;
  display : block;
  margin : $base__line-height * 2 0;
  padding : 0;
  height : 1px;
  border : 0;
  border-top : 1px solid $text-color;
}

abbr[title] {
  border-bottom : 1px dotted $grey-m;
  cursor : help;
}

b, strong {
  font-weight : bold;
}

dfn {
  font-style : italic;
}

ins {
  background-color : lighten($text-color, 75%);
  color : darken($text-color, 20%);
  text-decoration : none;
}

mark {
  background-color : yellow;
  color : darken($text-color, 20%);
}

pre,
code,
kbd,
samp {
  font-family : $font--code;
  @include x-rem(font-size, 14);
  line-height : $base__line-height;
}

pre {
  white-space : pre;
  white-space : pre-wrap;
  word-wrap : break-word;
}

sub,
sup {
  position : relative;
  @include x-rem(font-size, 12);
  line-height : 0;
  vertical-align : $base__line-height;
}

sup {
  top : -.5em;
}

sub {
  bottom : -.25em;
}

