




/*------------------------------------*\
    $NAV
\*------------------------------------*/


nav[role=navigation] {
	background-color: $nav-bg;
	width: 100%;
	position: fixed;
	height: $nav-height;
	top: 0;
	border-bottom: .3em solid darken(theme(default), 10%);
	z-index: map-get($z-level, superman);
}

.nav--top_list{
	display: block;
	margin-bottom: 0;
	padding: 0;
	width: 70%;
	position: absolute;
	top: 3em;
	left: -70%;
	background-color: $nav-list-bg;
}


.nav--top_list li {
	padding: 2%;
	text-align: center;
	border-top: .1em solid lighten(theme(default), 5%);
	border-bottom: .2em solid darken(theme(default), 10%);
	border-right: .1em solid darken(theme(default), 10%);
	&:hover {
		background-color: lighten(theme(default), 15%);
		border-bottom: 1px solid red;

		.link--top {
			color: darken(theme(default), 10%);
			font-weight: bold;
			text-decoration: none;
		}
	}
}

.link--top {
	display: block;
	width: 100%;
	text-decoration: none;
}

@include mq($from: tablet) {

  .nav--top_list {
		position: static;
		text-align: center;
		width: 100%;
 	}

  .nav--top_list li {
		height: 2.7em;
		display: inline-block;
		padding: .6em 2em;
		border: 0;
		.link--top {
			color: $white;
		}
  }
}


	/*------------------------------------*\
	    $NAV SIDE
	\*------------------------------------*/

.nav--side_list {
	position: fixed;
	text-align: left;

}


.dropdown {
	display: inline-block;

	.nav--dropdown {
		max-height: 0;
		overflow: hidden;
		transition: all 500ms ease;
		a {
			display: block;
		}
	}
	&:hover {
		.nav--dropdown {
			max-height: 999px;
		}
	}
	
	a {
		display: inline-block;
		background-color: palette(blue);
		color: palette(white);
		text-decoration: none;
		padding: 0em 1em;
	}
}
