




/*------------------------------------*\
    $NAV
\*------------------------------------*/


nav[role=navigation] {
	background-color: $basecolor;
	width: 100%;
	position: fixed;
	height: $height--nav;
	top: 0;
	border-bottom: .3em solid $bcdark;
	z-index: map-get($z-level, superman);
}

.nav--top_list{
	display: block;
	margin-bottom: 0;
	padding: 0;
	width: 70%;
	position: absolute;
	top: 3em;
	left: -70%;
	background-color: $basecolor;
}


.nav--top_list li {
	padding: 2%;
	text-align: center;
	border-top: .1em solid $bclight;
	border-bottom: .2em solid $bcdark;
	border-right: .1em solid $bcdark;
	&:hover {
		background-color: $bclighter;
		border-bottom: 1px solid red;

		.link--top {
			color: $bcdark;
			font-weight: bold;
			text-decoration: none;
		}
	}
}

.link--top {
	display: block;
	width: 100%;
	text-decoration: none;
}

@include mq($from: tablet) {

  .nav--top_list {
		position: static;
		text-align: center;
		width: 100%;
 	}

  .nav--top_list li {
		height: 2.7em;
		display: inline-block;
		padding: .6em 2em;
		border: 0;
		.link--top {
			color: $white;
		}
  }
}