//            $Notification           \\
// ___________________________________//


$blue    : #0087c9;
$green   : #00bb8e;
$yellow  : #fbca28;
$orange  : #fb9528;
$red     : #fe5d79;
$red-dark: #a94442;
$white   : #ffffff;
$black   : #000000;
$grey-l  : #4d4d4d;
$grey-m  : #b3b3b3;
$grey-s  : #f2f2f2;
$grey-xs : #f7f7f7;

$bg-menu    : #42474e;

$icons-color-default       : #b3b3b3;
$icons-color-default-hover : #4d4d4d;

$text-color: rgb(20,20,20);

$states: (
  info    : $blue,
  success : $green,
  warning : $orange,
  error   : $red
);

$text-color : #333333;
$link-color : $grey-s;
$link-color--hover: $yellow;
$link-color--focus: $yellow;
$link-color--visited: $yellow;


$focused: teal;
$error--focused   : $red-dark;
$color--read-only : #D2D2D2;



// TERMINAL COLORS

$git-color: rgb(249, 87, 30);

$code--terminal-bg : #4a579e;
$code--color       : $white;
$code--comment     : $grey-m;
$code--keyword     : #dca1ed;
$code--value       : #48ef4a;
