
// ===================================== \\
//      $COLORS (UUEE) | $COLOURS (UK)
// ===================================== //

// HSB function allow use hsb instead of hex, rgb and hsl
@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) {
  @if $b-hsb == 0 {
    @return hsla(0, 0, 0, $a)
  } 
  @else {
    $l-hsl: ($b-hsb/2) * (2 - ($s-hsb/100));
    $s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
    @return hsla($h-hsb, $s-hsl, $l-hsl, $a);
  }
}

//            $Text Color             \\
// ___________________________________//
$textcolor--light : hsb(252, 68%, 67%);
$textcolor--dark  : hsb(252, 68%, 67%);





//          $Social Color             \\
// ___________________________________//

// $social-colors: (
//   bandcamp    : rgb(78 ,155,172),
//   delicious   : rgb(212, 86,100),
//   facebook    : rgb(59 , 89,182),
//   ficly       : rgb(181, 28, 44),
//   flickr      : rgb(0  , 99,219),
//   foursquare  : rgb(143,212,  0),
//   github      : rgb(51 , 51, 51),
//   googleplus  : rgb(221, 75, 57),    
//   instagram   : rgb(63 ,114,155),    
//   kickstarter : rgb(118,204, 30),    
//   lanyrd      : rgb(21 , 46, 81),      
//   linkedin    : rgb(0  ,123,182),      
//   pinterest   : rgb(203, 32, 39),       
//   skype       : rgb(18 ,165,244),
//   spotify     : rgb(129,183, 26),
//   soundcloud  : rgb(255,102,  0),    
//   tumblr      : rgb(43 , 73,100),
//   twitter     : rgb(64 ,153,255),    
//   vimeo       : rgb(22 , 34, 33),    
//   youtube     : rgb(187,  0,  0)
// );



// HSL

// Hue - Think in a color wheel  values 0-360
//       0 and 360 = red 
//              60 = yellow
//             120 = green
//             180 = cyan
//             240 = blue
//             300 = magenta
  
// Saturation - 0%-100% 
      //   0% = desatured (grayscale)
      // 100% = saturated (full color)

// Lightness - 0%-100% 
      //   0% = dark (black)
      //  50% = average lightness
      // 100% = light(white)

// Alpha - values 0-1
       //  0 = transparent
       // .5 = 50% transparent
       //  1 = opaque (default value)

$social-colors: (
  bandcamp    : hsb(252, 68%, 67%),
  delicious   : hsb(212, 86%,100%),
  facebook    : hsb(221, 61%, 60%),
  ficly       : hsb(354, 85%, 71%),
  flickr      : hsb(213,100%, 86%),
  foursquare  : hsb(80 ,100%, 83%),
  github      : hsb(0  ,  0%, 20%),
  googleplus  : hsb(7  , 74%, 87%),    
  instagram   : hsb(207, 59%, 61%),    
  kickstarter : hsb(90 , 85%, 80%),    
  lanyrd      : hsb(215, 74%, 32%),      
  linkedin    : hsb(199,100%, 71%),       
  pinterest   : hsb(358, 84%, 80%),      
  skype       : hsb(201, 93%, 96%),
  spotify     : hsb(81 , 86%, 72%),
  soundcloud  : hsb(24 ,100%,100%),    
  tumblr      : hsb(208, 57%, 39%),
  twitter     : hsb(212, 75%,100%),    
  vimeo       : hsb(175, 35%, 13%),    
  youtube     : hsb(0  ,100%, 73%)
);




//            $Theme                  \\
// ___________________________________//

$theme: (

  spring: (
    primary   : hsb(14 , 38%, 64%),
    secondary : hsb(29 , 30%, 35%),
    base      : hsb(43 , 36%, 88%),
    altbase   : hsb(19 , 16%, 72%), 
    fontlight : hsb(30 ,  7%, 98%),
    fontdark  : hsb(338, 22%, 20%)
  ),
  summer: (
    primary   : hsb(197, 87%,100%),
    secondary : hsb(18 ,100%,100%),
    base      : hsb(56 ,100%,100%),
    altbase   : hsb(40 ,100%,100%), 
    fontlight : hsb(180, 33%,100%),
    fontdark  : hsb(223, 87%, 13%)
  ),
  autumn: (
    primary   : hsb(14 , 38%, 64%),
    secondary : hsb(29 , 30%, 35%),
    base      : hsb(43 , 36%, 88%),
    altbase   : hsb(19 , 16%, 72%), 
    fontlight : hsb(30 ,  7%, 98%),
    fontdark  : hsb(338, 22%, 20%)
  ),
  winter: (
    primary   : hsb(14 , 38%, 64%),
    secondary : hsb(29 , 30%, 35%),
    base      : hsb(43 , 36%, 88%),
    altbase   : hsb(19 , 16%, 72%), 
    fontlight : hsb(30 ,  7%, 98%),
    fontdark  : hsb(338, 22%, 20%)
  ),
);

//FALTA SPRING Y WINTER


//       $Gradients defined           \\
// ___________________________________//

$gradient: (

  sunset: (
    first   : hsb(60 ,100%,100%),
    second  : hsb(0  ,100%, 100%)
  ),


);





//            $Brand                  \\
// ___________________________________//


// Color Base & Variantes  ////////////////////////////////
$basecolor    : rgb(43,47,58); // Gris azulado// Hex: #2b2f3a  hsl(223,225,22)
$bclighter    : lighten($basecolor, 20%);
$bclight      : lighten($basecolor, 10%);
$bcdark       : darken($basecolor, 10%);
$bcdarker     : darken($basecolor, 20%);

// Color Corporativo Secundario //////////////////////////

$secondary    : rgb(255,24,8); // Rojo     // Hex: #ff1812  hsl(2,93,100)
$sclighter    : lighten($secondary, 20%);
$sclight      : lighten($secondary, 10%);
$scdark       : darken($secondary, 10%);
$scdarker     : darken($secondary, 20%);
$scnight      : darken($secondary, 30%);


// BORDERS
$bordercolor  : lighten($secondary, 50%); // Verde Bordes
// Variantes (Opuesto en el círculo cromático
$secondcolor  : spin($basecolor);


// Escala de grises   /////////////////////////////////////
// $white    : #fff;
// $black    : #0b0b0b;
// $grey     : #797e83;




$black        : rgb(0,0,0);
$superdark    : lighten($black, 10%);
$darkergrey   : lighten($black, 15%);
$darkgrey     : lighten($black, 25%);
$grey         : lighten($black, 50%);
$lightgrey    : lighten($black, 75%);
$lightergrey  : lighten($black, 90%);
$white        : rgb(255,255,255);

// Web
$background       : $white;
$textcolor        : $darkergrey;
$textcolor-strong : $black;

//Other Colors
$wine             : rgb(150,17,13); // Rojo Vino// Hex: #96110d  hsl(2,91,59)
$greenlime        : rgb(148,254,84);  //Verde Lima #94fe54 hsl(97,67,99)  CMYK (53,1,73,0) 
$cyan             : rgb(30,226,231);  //Cyan       #1ee2e7 hsl(181,87,91) CMYK (66,2,27,0)


// Links  /////////////////////////////////////////////////
$linkcolor        : $white;
$linkcolorhover   : darken($linkcolor, 10);
$linkcolorvisited : $basecolor;
$linkcolorfocus   : darken($linkcolorvisited, 10);


//            $Alerts                 \\
// ___________________________________//

// Definimos Colores y elementos de popups, mensajes de alerta, etc...

$color-alert    : rgb(252,228,207);       //Tonalidad Naranja Claro
$color-error    : rgb(218,79,73);         //Tonalidad Roja
$color-info     : rgb(165,221,223);       //Tonalidad Blanca
$color-inverse  : invert($secondary);     //Color Corporativo Secundario
$color-success  : rgb(91,183,91);         //Tonalidad Verde
$color-warning  : rgb(250,167,50);        //Tonalidad Naranja


$notifications : (
  default: hsb(254, 48%, 70%),
  success: hsb(138, 54%, 81%),
  error  : hsb(358, 50%, 90%),
  warning: hsb(28 , 69%,100%),
  info   : hsb(194, 73%, 82%)
);


// Texturas de popups
$alertbordercolor : darken($color-alert, 20%);
$alertborderwidth : 1px;
$alertborderstyle : solid;
$alerttext        : darken($color-alert, 60%);

// Error
$alerterrorcolor  : lighten($color-error, 30%);
$alerterrorborder : lighten($color-error, 20%);
$alerterrortext   : $color-error;

// Info
$alertinfocolor   : lighten($color-info, 10%);
$alertinfoborder  : darken($color-info, 10%);
$alertinfotext    : darken($color-info, 50%);

// Inverso
$alertinversecolor  : $color-inverse;
$alertinverseborder : $black;
$alertinversetext   : $white;

// Success
$alertsuccesscolor  : lighten($color-success, 30%);
$alertsuccessborder : lighten($color-success, 20%);
$alertsuccesstext   : darken($color-success, 20%);

// Advertencia
$alertwarningcolor  : lighten($color-warning, 30%);
$alertwarningborder : lighten($color-warning, 20%);
$alertwarningtext   : darken($color-warning, 20%);

// Badges
$badgebackground    : $basecolor;
$badgecolor         : $textcolor;
