// ======================= \\
//      $CONFIG
// ======================= //



  
//           $Breakpoints             \\
// ___________________________________//

//*Start with the small screen first and expand until it looks like shit.
//*Then is the time to insert a breakpoint!

$mq-breakpoints: (
    mobile :     20em,
    tablet :  56.25em,
    desktop:  68.75em,
    wide   :    120em,
) !default;



//             $Grid                  \\
// ___________________________________//

$gap : 5px;
$grid-size: 5;



//             $Fonts                 \\
// ___________________________________//

//*Import if Google Fonts URL is defined

$google-font__url: 'http://fonts.googleapis.com/css?family=Maven+Pro';
@if variable-exists(google-font__url) {
  @import url($google-font__url);
} 
@else {
    @warn "You don't have a google font loaded"
}

$google-font__name: 'Maven Pro';

//*Assign the fonts for our framework
$font--primary   : $google-font__name, sans-serif;
$font--secondary : $google-font__name, sans-serif;
$font--code      : "Courier New", monospace;

//*Base values
$base__line                 : 24px;
$base__font-size            : 16px;
$base__font-size--heading   : 20px;
$base__line-height          : ($base__line/$base__font-size);
$base__line-height--heading : ($base__line/$base__font-size--heading);

$base__font                 : $font--primary;
$base__font--heading        : $font--primary;
$base__font-weight--heading : bold;
$base__color                : $textcolor;
$base__color--heading       : inherit;

//*Alternatives values
$alt__font                  : $font--secondary;
$alt__line-height           : 1.35em;

$gutterwidth                : 24px;
$pagemaxwidth               : 80%;


//            $Elements               \\
// ___________________________________//

//*Radious value base for some elements like buttons
$radius: 2px;

//*Height of the main html footer
$height--footer: 100px;




//EN A list maps to use z-levels. See the next example:
//ES: Un list maps para usar con z-levels. Mira el siguiente ejemplo:
// z-index: map-get($z-level, superman); 
$z-level: (
  god:       10000,
  goku:       5000,
  superman:   2500,
  spiderman:  2000,
  mole:       -1,
  worm:       -100
) !default;





//             $Buttons               \\
// ___________________________________//


$buttonbackground   : $bclight;
$buttonbordercolor  : darken($buttonbackground, 10%);
$buttonbottombordercolor : darken($buttonbordercolor, 10%);
$buttoncolor        : $black;
$buttonborderwidth  : 1px;
$buttonborderstyle  : solid;

// Boxes (well)
$wellbackground     : lighten($basecolor, 75%);
$wellbordercolor    : darken($wellbackground, 20%);
$wellborderwidth    : 1px;
$wellborderstyle    : solid;
$wellshadow         : darken($wellbackground, 10%);
$wellshadowblur     : 10px;


//             $Tablas                \\
// ___________________________________//


$tablebackground    : transparent;
$tablestripe        : lighten($basecolor, 60%);
$tablehover         : lighten($basecolor, 50%);
$tableborder        : lighten($basecolor, 40%);
$tableborderwidth   : 1px;
$tableborderstyle   : solid;

//              $Forms                \\
// ___________________________________//


$inputbackground    : $white;
$inputborder        : $lightgrey;
$inputborderwidth   : 1px;
$inputborderstyle   : solid;
$inputhover         : lighten($black, 50%);
$inputfocus         : $basecolor, 40%;
$placeholdercolor   : $lightergrey;


//             $Navigation            \\
// ___________________________________//

$nav-width:               44px;
$nav-height:              $nav-width * 1.2;
$nav-icon-size:           20px;
$nav-color:               $secondary;
$nav-background:          $darkergrey;
$nav-borders:             lighten($nav-background, 10%);
$nav-lists-background:    $basecolor;