

@mixin placeholder-color($color) {
  // This pseudo selector needs to be splitted in sigle rules.
  &:-moz-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }

  &::-ms-input-placeholder {
    color: $color;
  }

  &::-webkit-input-placeholder {
    color: $color;
  }

  &::placeholder {
    color: $color;
  }
}
