



/*------------------------------------*\
    $FIGURE
\*------------------------------------*/
figure {
	margin-bottom : $baselineheight;

	img {
		margin-bottom : $baselineheight / 4;
	}

	figcaption {
		color : $grey;
		display : block;
		@include x-rem(font-size, 14);
		font-style : italic;
		font-weight : normal;
	}
}