

//    		$Links                      \\
// ___________________________________//
a {
	color: map-get($links, default);
	text-decoration : none;
	transition      : all 300ms $easePrinciple;

	&:hover {
		text-decoration : underline;
		color           : map-get($links, hover);
	}

	&:focus {
		color   : map-get($links, focus);
	}

	&:visited {
		color : map-get($links, visited);
	}

	&:hover,
	&:focus,
	&:active {
		outline : 0;
	}
}


//    		$Screen Reader Text         \\
// ___________________________________//

//*Some links are only images or icon, but these links should have
//a explanatory text (description) for blind people, so inside these types of links
//we have to add a <b> tag with usefull description.

	// Example of use
		 // HTML
		 // <a href="#">
		 //		<span class="icon-facebook"></span>
		 //		<b class="srt">Facebook Link</b>
		 // </a>

// The text inside <b> tag its no visible but a ScreenReader can read it, cool !

.srt {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
