
/*------------------------------------*\
    $TIPOGRAPHY
\*------------------------------------*/

//            $HEADINGS               \\
// ___________________________________//

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family    : $font--heading;
  text-rendering : optimizelegibility;
  font-weight    : 400;
}

@each $heading-type, $font-size in  (h1, 32)
                                    (h2, 24)
                                    (h3, 20)
                                    (h4, 16)
                                    (h5, 14)
                                    (h6, 12) {
  #{$heading-type}, .heading-#{$heading-type} {

    $line-height : ($base__line/ $font-size);
    @include x-rem(font-size, $font-size);
    margin-bottom: strip-unit($line-height) * 1em;

    @if $font-size > $base__line {
      $line-height-x2: $line-height * 2;
      line-height: $base__line * 2;
      line-height: strip-unit($line-height-x2) * 1em;
    } @else {
      line-height: $base__line;
      line-height: strip-unit($line-height) * 1em;
    }
  }
}


// REFACTOR THIS

$mod_1: 1.067;
$mod_2: 1.333;

$h1-min: pow($mod_1, 4) * 1rem;
$h1-max: pow($mod_2, 4) * 1rem;

$h2-min: pow($mod_1, 3) * 1rem;
$h2-max: pow($mod_2, 3) * 1rem;

$h3-min: pow($mod_1, 2) * 1rem;
$h3-max: pow($mod_2, 2) * 1rem;

$h4-min: $mod_1 * 1rem;
$h4-max: $mod_1 * 1rem;

$h5-min: 1rem;
$h5-max: 1rem;

$h6-min: (1rem / $mod_1);
$h6-max: (1rem / $mod_2);


h1 {
  @include fluid-font-size(font-size, 37.5rem, 80rem, $h1-min, $h1-max);
}
// END FLUID H1


//       $PARAGRAPHS and $LIST        \\
// ___________________________________//


p {
  @include x-rem(font-size, $base__font-size);
  color: map-get($app, text-color);
  font-weight   : 300;
  line-height   : $base__line-height;
  margin-bottom : $base__line-height;
}

small {
	@include x-rem(font-size, 12);
}



ol,
ul,
dl,
dd,
address {
  margin-bottom : $base__line-height * 10px;
}

dt {
  font-weight : bold;
}


//            $BLOCKQUOTE             \\
// ___________________________________//
//*Use always a paragraph inside the blockquote tags
blockquote  {
  border-left   : 10px solid map-get($app, text-color);
  font-family   : $font--secondary;
  font-style    : normal;
  margin        : 0 0 $base__line-height*1px 0;
  padding-left  : em(15px);
  padding-right : em(15px);

  p {
    @include x-rem(font-size, 18);
    color      : lighten(map-get($app, text-color), 15%);
    font-style : italic;
  }

  .quote-info {
    text-align: right;
  }
}


q {
  font-style : italic;
  quotes     : none;
}

blockquote p::before,
blockquote p::after,
q:before,
q:after {
  content : '';
}

cite {
  font-style : normal;
}



//            $TEXT-LEVEL             \\
// ___________________________________//

hr {
  border     : 0;
  border-top : 1px solid map-get($app, text-color);
  clear      : both;
  display    : block;
  height     : 1px;
  margin     : $base__line-height * 2 0;
  padding    : 0;
}

abbr[title] {
  cursor        : help;
  border-bottom : 1px dotted lighten(map-get($app, text-color), 15%);
}

b,
strong {
  font-weight : bold;
}

dfn {
  font-style : italic;
}

ins {
  background-color : lighten(map-get($app, text-color), 75%);
  color            : darken(map-get($app, text-color), 20%);
  text-decoration  : none;
}

mark {
  background-color : map-get($css-colors, yellow);
  color            : darken(map-get($app, text-color), 20%);
}

pre,
code,
kbd,
samp {
  @include x-rem(font-size, 14);
  font-family : $font--code;
  line-height : $base__line-height;
}

pre {
  white-space : pre-wrap;
  word-wrap   : break-word;
}

sub,
sup {
  @include x-rem(font-size, 12);
  line-height    : 0;
  position       : relative;
  vertical-align : $base__line-height;
}

sup {
  top : -.5em;
}

sub {
  bottom : -.25em;
}
